/* CSS DIRECTORY
	1. =GLOBAL STYLING
	2. =HEADER
	3. =NOTES VIEW
  4. =EDIT NOTE VIEW
  5. =NO NOTES MESSAGE
  6. =COLOR PICKERS
*/

/* ====================
   ===GLOBAL STYLING===
   ==================== */

/* GLOBAL VARIABLES */
:root {
  --logo-size: 3rem;
  --font-size: 16px;
  --filter-effect--red: invert(14%) sepia(89%) saturate(5832%)
    hue-rotate(358deg) brightness(111%) contrast(119%);
  --note-color--yellow: #faff5c;
  --note-color--blue: #70d6ff;
  --note-color--green: #82ff9e;
  --note-color--red: #ff5c64;
  --note-color--purple: #aa97c3;
  --btn--color: rgb(250, 255, 127);
  --background--color: #fcff99;
  --navbar-color: rgb(250, 255, 127, 0.8);
  /* https://coolors.co/70d6ff-ff70a6-ff5c64-ff9770-82ff9e-fcff99-faff5c-aa97c3-fcf5c7-ffffc7 */
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

html {
  height: 100%; /* allows background gradient to stretch to full page height*/
}

body {
  height: 100%; /* allows background gradient to stretch to full page height*/
  background: linear-gradient(180deg, var(--background--color) 0%, white 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

/* GLOBAL BUTTON STYLING */
.btn {
  background-color: var(--btn--color);
  box-shadow: 1px 1px 3px black;
}

.btn:hover {
  animation-play-state: paused;
  box-shadow: 3px 3px 7px black;
  cursor: pointer;
}

/* ============
   ===HEADER===
   ============ */

/* HeaderView in JS */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

/* NAVBAR*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-color);
  border-radius: 1rem;
  align-self: center;
  width: fit-content;
  height: fit-content;
  box-shadow: 1px 1px 1px black;
  margin: 0.75rem 0.75rem 0.75rem 0.75rem;
}

/* NAVBAR CONTENTS */
.navbar--logo {
  height: var(--logo-size);
  margin: 0 1rem 0 1rem;
}

.navbar--text {
  font-family: "Monoton", cursive;
  font-size: var(--logo-size);
  text-align: center;
  width: fit-content;
}

.btn--new-note {
  border-radius: 50%;
  font: 2.3rem Helvetica, Verdana, Tahoma;
  height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  margin: 1rem;
}

/* ❌ Not being used currently ❌ */
.btn--main-link {
  position: absolute;
  left: 0%;
  margin: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  box-shadow: black;
  align-self: flex-start;
}

/* ==============
   ==NOTES VIEW==
   ============== */

/* NOTES CONTAINER */
.container--notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* INDIVIDUAL NOTE STYLING */
.note {
  position: relative;
  height: 15rem;
  width: 15rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

.note[data-color="yellow"] {
  background-color: var(--note-color--yellow);
}
.note[data-color="blue"] {
  background-color: var(--note-color--blue);
}
.note[data-color="green"] {
  background-color: var(--note-color--green);
}
.note[data-color="red"] {
  background-color: var(--note-color--red);
}
.note[data-color="purple"] {
  background-color: var(--note-color--purple);
}

/* NOTE ACTIONS */
.note:hover {
  border: 1px solid black;
}

.note:hover .btn--delete-note {
  opacity: 100%;
}

.note:hover .note--footer {
  opacity: 100%;
}

/* NOTE CONTENTS */
.note--content {
  position: relative; /*Set so that fade element can be positioned absolutely at end*/
  max-height: 12rem;
  background-color: inherit; /*Inherit so that fade element can adapt to color of note*/
}

.note--title {
  font-weight: bold;
  max-height: 2.2rem;
  overflow-wrap: anywhere; /*Forces overflow text break to the next line once max width is reached*/
  overflow: hidden; /*Forces overflow text to be hidden once max-height is reached*/
  margin-bottom: 0.2rem;
  width: 100%;
  white-space: pre-wrap;
}

.note--text-body {
  overflow-wrap: anywhere; /*Forces overflow text break to the next line once max width is reached*/
  height: 9.6rem;
  line-height: 1.2rem;
  overflow: hidden; /*Forces overflow text to be hidden once max-height is reached*/
  white-space: pre-wrap;
  width: 100%;
}

/* Element that overlays on note if the text overflows. Overflow detection handled in JS */
.fade {
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 0;
  pointer-events: none;
  width: 98%;
  background-color: inherit;
  height: auto;
}

.note--footer {
  /* z-index: -1; */
  opacity: 0%;
  width: fit-content;
  position: absolute;
  top: 87%;
  left: 16%;
}

.btn--delete-note {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("img/trash.png");
  background-size: 1.5rem;
  background-position: center;
  opacity: 0%;
  padding: 0.2rem;
  top: 2%;
  left: 87%;
  z-index: 1; /*Required since note-content has a background and this element needs to be on top of it*/
}

.btn--delete-note:hover {
  filter: var(--filter-effect--red);
}

/* ==================
   ==EDIT NOTE VIEW==
   ================== */

/* NOTE EDITOR MODAL WINDOW*/
/* Covers entire page view */
.modal--background {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.3);
}

/* Note being edited */
.modal--note {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 1rem;
  /* Could be more or less, depending on screen size */
  width: clamp(300px, 50%, 800px);
  max-height: 70%;
  border-radius: 10px;
}

/* NOTE EDITOR ELEMENTS */
.modal--note-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: larger;
  max-height: 2.8rem;
  overflow: auto;
  outline: none; /*Removes outline around element when in focus*/
  flex: 0 0 auto; /*Controls how flex item grows (or doesn't)*/
  white-space: pre-wrap;
}

.modal--note-title[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

.modal--note-text {
  margin-bottom: 0.5rem;
  border: none;
  overflow: auto;
  width: 100%;
  flex: 2 0 max-content; /*Controls how flex item grows (or doesn't)*/
  max-height: 30%;
  outline: none; /*Removes outline around element when in focus*/
  white-space: pre-wrap;
}

.modal--note-text[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

.modal--footer {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  flex: 0.5 0 auto;
}

.btn--modal--close {
  color: black;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  margin-top: -2%;
  flex: 0.5 1 auto;
}

.btn--modal--close:hover,
.btn--modal--close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.btn--modal--delete-note {
  height: 1.75rem;
}

.btn--modal--delete-note:hover {
  /* Red Filter */
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: var(--filter-effect--red);
}

/* ====================
   ==NO NOTES MESSAGE==
   ==================== */

/* Container */
.no-notes-message {
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 5% 5% 5%;
}

.no-notes-message--logo {
  height: calc(var(--logo-size) * 1.5);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

/* Text displayed when there isn't a note */
.no-notes-message p {
  font-size: inherit;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  width: fit-content;
  text-align: center;
}

/* Create new note button */
.btn--no-notes-message {
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

/* HIGHLIGHT ANIMATION */
@keyframes glowing {
  0% {
    box-shadow: 0 0 3px #0f0f0f;
  }
  50% {
    box-shadow: 0 0 10px #0f0f0f;
  }
  100% {
    box-shadow: 0 0 3px #0f0f0f;
  }
}

.btn--highlight {
  animation: glowing 3000ms infinite;
}

/* =================
   ==COLOR PICKERS==
   ================= */
.color-picker {
  display: flex;
  flex-direction: row;
  height: inherit;
  align-items: center;
}

.color-picker--dot {
  border-radius: 50%;
  border: 2px white solid;
}

/* NOTE COLOR PICKER */
.color-picker--dot--note {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 0.25rem 0rem 0.25rem;
}

/* EDIT NOTE COLOR PICKER */
.color-picker--dot--modal {
  width: 2rem;
  height: 2rem;
  margin: 0rem 0.25rem 0rem 0.25rem;
}

.color-picker--dot[data-color="yellow"] {
  background-color: var(--note-color--yellow);
}
.color-picker--dot[data-color="blue"] {
  background-color: var(--note-color--blue);
}
.color-picker--dot[data-color="green"] {
  background-color: var(--note-color--green);
}
.color-picker--dot[data-color="red"] {
  background-color: var(--note-color--red);
}
.color-picker--dot[data-color="purple"] {
  background-color: var(--note-color--purple);
}

/* ❌ Not being used currently ❌ */
.color-picker--active[data-color="yellow"] {
  border-color: var(--note-color--yellow);
}
.color-picker--active[data-color="blue"] {
  border-color: var(--note-color--blue);
}
.color-picker--active[data-color="green"] {
  border-color: var(--note-color--green);
}
.color-picker--active[data-color="red"] {
  border-color: var(--note-color--red);
}
.color-picker--active[data-color="purple"] {
  border-color: var(--note-color--purple);
}

/*
--------------- 
Time for a brew
---------------
*/
